/*--------- INDEX --------- */
// Map
$fonts:(font:('Montserrat', sans-serif),
    large-font:70px,
    medium-font:60px,
    small-font:40px,
    smaller-font:20px,
);

// Extend
%center {
    text-align: center;
    margin-bottom: 80px;
}

// Mixin
@mixin properties($margin-top, $width, $height) {
    margin-top: $margin-top;
    width: $width;
    height: $height;
}

$color-wine:#400f85;

.tituloIndex {
    @extend %center;
    @include properties(250px, auto, auto);
    font-family: map-get($fonts, font);
    font-size: map-get($fonts, large-font);
    font-weight: 600;

    p {
        /*Mendoza Lotes en violeta*/
        color: $color-wine;
    }
}

/*Tamaño del carrusel*/
.tamañoImgCar {
    @include properties(0, 100%, 100%);
    left: 0;
    top: 0;
    padding: 1% 12%;

    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        object-fit: cover;
    }
}

.verMas {
    @include properties(0px, 100%, 100%);
    @extend %center;
}

.verMasLink {
    text-decoration: none;
    font-size: map-get($fonts, smaller-font);
    color: black !important;
}

/* Media querys Index*/
@media screen and (max-width: 1060px) {

    .tituloIndex {
        margin-top: 216px;
        margin-bottom: 80px;
        font-size: map-get($fonts, medium-font);
    }

    .tamañoImgCar {
        padding: 0% 6%;
    }

    .verMas {
        margin-top: 20px;
        margin-bottom: 70px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 650px) {

    .tituloIndex {
        margin-top: 179px;
        margin-bottom: 60px;
        font-size: map-get($fonts, small-font);
    }

    .verMas {
        font-size: map-get($fonts, smaller-font);
    }

}

@media screen and (max-width: 335px) {
    .copy {
        margin-top: 40px;
    }
}