@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital@1&display=swap');

/*Para reestablecer valores predeterminados del html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: radial-gradient(circle at 11.2% 53.39%, #ffffff 0, #f4fefe 25%, #e6f8f8 50%, #d8f2f3 75%, #cbecef 100%);
    width: 100%;
    height: 135px;
    /*Hace que el header siga la pagina web al scrollear*/
    position: fixed;
    /* Para que el slider del carrusel no me tape el navbar */
    z-index: 100;
    top: 0px;
    left: 0;
}

/*Navbar*/
.nav {
    display: flex;
    justify-content: space-between;

    .toggle {
        /*Animacion del menu*/
        color: black;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        /*Para ocultar el toggle hasta un cierto tamaño*/
        display: none;
    }
}

/* Navar del Menu sin el logo */
.navMenu {
    display: flex;
    margin-right: 20px;
    list-style: none;
}

/* Cada item del menu */
.navMenuItem {
    font-size: 20px;
    margin: 0 10px;
    line-height: 150px;
}

/* Las a links href */
.navLink {
    color: black;
    /*Le saca la decoracion del subrayado que traen por defecto los a links*/
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 7px;
}

/* Para que se resalte cuando se pase con el cursor por cada item */
.navLink:hover {
    color: black;
    background-color: azure;
    transition: 0.5s;
}

.logo {
    padding: 10px 40px;
}

.imgLogo {
    height: 120px;
}

/*Estilos al footer*/
footer {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(49, 47, 47);
    background-image: url('../images/Fondos/footer-1.png');
    /*Para que no se repita la imagen de fondo*/
    background-size: cover;
    font-style: italic;
    padding: 20px !important;
}

.footerRedes {
    padding: 5px;

    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 0;
        margin-bottom: 15px;
    }
}

.footerContacto {
    padding: 5px;

    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 0;
    }
}

.copy {
    padding-top: 10px;
    text-align: center;
}

/* Media querys */
@media screen and (max-width: 1060px) {
    header {
        height: auto;
    }

    .navMenu {
        background-color: #f4fefe;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        top: 140px;
        width: 100%;
        left: 100%;
        transition: left 0.5s;
    }

    .navMenuItem {
        font-size: 20px;
        margin: 0px;
        height: 50%;
        line-height: 50px;
    }

    /*Para que se haga visible el toggle*/
    .nav {
        .toggle {
            display: block;
        }
    }

    .navMenuVisible {
        left: 0;
    }

    footer {
        text-align: center;
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {

    .navMenu {
        top: 120px;
    }

    .navMenuItem {
        font-size: 17px;
        line-height: 40px;
    }

    .imgLogo {
        height: 100px;
    }

    .logo {
        padding: 10px 7px;
    }
}

@import "./partials/_index";
@import "./partials/_terrenos";
@import "./partials/_zonas";
@import "./partials/_contacto";
@import "./partials/_nosotros";